@font-face {
    font-family: "Ubuntu";
    src:local("Ubuntu"), url("./verstka/fonts/UbuntuMedium.woff2"), format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src:local("Ubuntu"), url("./verstka/fonts/UbuntuLight.woff2"), format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src:local("Ubuntu"), url("./verstka/fonts/UbuntuRegular.woff2"), format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src:local("Oswald"), url("./verstka/fonts/OswaldMedium.woff2"), format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url(./verstka/fonts/OswaldSemiBold.woff2), format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
