html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

header {
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333
}

a {
    color: #000
}

.logo {
    background-color: #000;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
}

.phone {
    text-decoration: none;
}