body {
    background-color:#333 ;
}

form {
    color: white;
    margin-right: 2150px;
}

.label1 {
    margin-top: 0px;
    margin-bottom: 10px;
    display: grid;
    margin-right: 70px;
}

.label {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 70px;
}

.button {
    margin-top: 10px;
    display: block;
    cursor: pointer;
}